*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}
.row{
    height: 100vh;
}
.box{
    border: 1px solid black;
    margin-left: 20px;
    cursor: pointer;
    transition: all .09s;
    width: 100px;
    height: 70px;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}